@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 600px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: white;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    padding: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(65, 65, 65, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.5);
    backdrop-filter: blur(10px);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    margin-bottom: 40px;
    border: 3px solid rgb(150, 230, 250);
    padding: 3px;
}

.card-list .card-item .extras {
    font-size: 1.15rem;
    font-weight: 500;
    color: #e3e3e3;
    margin: 14px 0 40px;
}

a {
    color: black;
    transition: 0.2s ease-out;
    text-decoration: none;
}

a:hover {
    color:wheat;
}

.card-list .card-item .portfolio {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 35px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    background: white;
    border: 2px solid black;
    transition: 0.2s ease-out;
}

.card-list .card-item .portfolio:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    color: wheat;
}

.slider-wrapper .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.8);
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: rgb(0, 0, 0, 0.7);
    margin-top: -50px;
}

.github-button {
    padding: 0;
    margin: 5px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: black;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    z-index: 1000;
}

.github-button:hover {
    transform: scale(1.15);
}

.icon-button {
    width: 70px;
    height: 70px;
}

.icon-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}